<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ape.apeadmin.mapper.ApePhysicsLawFavorMapper">
  <resultMap id="BaseResultMap" type="com.ape.apeadmin.domain.ApePhysicsLawFavor">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="law_name" property="lawName" />
    <result column="law_content" property="lawContent" />
    <result column="category" property="category" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, law_name, law_content, category, create_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ape_physics_law_favor
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ape.apeadmin.domain.ApePhysicsLawFavor">
    insert into ape_physics_law_favor (id, user_id, law_name, 
      law_content, category, create_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{lawName,jdbcType=VARCHAR}, 
      #{lawContent,jdbcType=LONGVARCHAR}, #{category,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.ape.apeadmin.domain.ApePhysicsLawFavor">
    insert into ape_physics_law_favor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="lawName != null">
        law_name,
      </if>
      <if test="lawContent != null">
        law_content,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="lawName != null">
        #{lawName,jdbcType=VARCHAR},
      </if>
      <if test="lawContent != null">
        #{lawContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_physics_law_favor
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.ape.apeadmin.domain.ApePhysicsLawFavor">
    update ape_physics_law_favor
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="lawName != null">
        law_name = #{lawName,jdbcType=VARCHAR},
      </if>
      <if test="lawContent != null">
        law_content = #{lawContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ape.apeadmin.domain.ApePhysicsLawFavor">
    update ape_physics_law_favor
    set user_id = #{userId,jdbcType=VARCHAR},
      law_name = #{lawName,jdbcType=VARCHAR},
      law_content = #{lawContent,jdbcType=LONGVARCHAR},
      category = #{category,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_physics_law_favor
    where user_id = #{userId,jdbcType=VARCHAR}
    order by create_time desc
  </select>

  <select id="selectByUserIdAndLawName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_physics_law_favor
    where user_id = #{userId,jdbcType=VARCHAR}
    and law_name = #{lawName,jdbcType=VARCHAR}
  </select>
</mapper>
