<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ape.apeadmin.mapper.ApeStudyTodoMapper">
  <resultMap id="BaseResultMap" type="com.ape.apeadmin.domain.ApeStudyTodo">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="content" property="content" />
    <result column="completed" property="completed" />
    <result column="create_time" property="createTime" />
    <result column="complete_time" property="completeTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, content, completed, create_time, complete_time
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ape_study_todo
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ape.apeadmin.domain.ApeStudyTodo">
    insert into ape_study_todo (id, user_id, content, 
      completed, create_time, complete_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{completed,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{completeTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.ape.apeadmin.domain.ApeStudyTodo">
    insert into ape_study_todo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="completed != null">
        completed,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="completeTime != null">
        complete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="completed != null">
        #{completed,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_study_todo
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.ape.apeadmin.domain.ApeStudyTodo">
    update ape_study_todo
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="completed != null">
        completed = #{completed,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ape.apeadmin.domain.ApeStudyTodo">
    update ape_study_todo
    set user_id = #{userId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      completed = #{completed,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      complete_time = #{completeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_study_todo
    where user_id = #{userId,jdbcType=VARCHAR}
    order by create_time desc
  </select>

  <select id="selectByUserIdAndCompleted" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ape_study_todo
    where user_id = #{userId,jdbcType=VARCHAR}
    and completed = #{completed,jdbcType=INTEGER}
    order by create_time desc
  </select>
</mapper>
